In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

**Step 2: Importing dataset**

In [4]:
df = pd.read_csv("Data.csv")
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [5]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
df['Age'].fillna(df['Age'].mean(),inplace = True)

In [7]:
df.isnull().sum()

Country      0
Age          0
Salary       1
Purchased    0
dtype: int64

In [8]:
df['Salary'].fillna(df['Salary'].mean(),inplace = True)

In [9]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [10]:
df.Purchased.unique()

array(['No', 'Yes'], dtype=object)

In [11]:
df["Purchased"] = df["Purchased"].map({'Yes':1, 'No':0})
df.head()

   Country   Age        Salary  Purchased
0   France  44.0  72000.000000          0
1    Spain  27.0  48000.000000          1
2  Germany  30.0  54000.000000          0
3    Spain  38.0  61000.000000          0
4  Germany  40.0  63777.777778          1

**Step 5: Creating a dummy variable**

In [14]:
df = pd.concat([df,dummy1], axis=1)
df

   Country        Age        Salary  Purchased  France  Germany  Spain
0   France  44.000000  72000.000000          0       1        0      0
1    Spain  27.000000  48000.000000          1       0        0      1
2  Germany  30.000000  54000.000000          0       0        1      0
3    Spain  38.000000  61000.000000          0       0        0      1
4  Germany  40.000000  63777.777778          1       0        1      0
5   France  35.000000  58000.000000          1       1        0      0
6    Spain  38.777778  52000.000000          0       0        0      1
7   France  48.000000  79000.000000          1       1        0      0
8  Germany  50.000000  83000.000000          0       0        1      0
9   France  37.000000  67000.000000          1       1        0      0

In [13]:
dummy1 = pd.get_dummies(df['Country'])
dummy1

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

**Step 6: Splitting the datasets into training sets and Test sets**

In [15]:
x =df[["Age","Salary"]]
y = df["Purchased"]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
x=df

**Step 7: Feature Scaling**

In [16]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
x_train=scale.fit_transform(x_train)
x_test=scale.transform(x_test)